RewriteEngine On

RewriteRule ^(admin.*)$ backend.php [QSA,L]

RewriteRule ^(Connexion.*)$ connexion.php [QSA,L]
RewriteRule ^(Deconnexion.*)$ connexion.php [QSA,L]
RewriteRule ^(Register.*)$ connexion.php [QSA,L]
RewriteRule ^(Profil.*)$ connexion.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ frontend.php [QSA,L]
